

/* New version */
.sidebarList_c48ade {
    display: block;
	/* position: absolute !important; */
    right: 0;
    width: 72px !important;
    min-width: 0 !important;
    overflow: hidden;
    background: var(--background-secondary);
    /* z-index: 1000; */
    transition: width 0.3s ease-in-out;
    height: 100%;
	container-type: normal !important;
}

.sidebar_c48ade:hover .sidebarList_c48ade{
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;
    transition: width 0.3s ease-in-out;
}
.sidebar_c48ade:not(:hover) .buttons__37e49 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 1s;
}

.sidebar_c48ade .buttons__37e49 {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}
/* Delay to close the sidebar */
.sidebarList_c48ade:not(:hover) {
    transition: width 0.3s ease-in-out 1s;
}

/* Add a gap at the bottom of the message list for game activity */
.content__99f8c{
	margin-bottom: 45px;
}

/* Active now panel */
.nowPlayingColumn__133bf {
	display: block;
	position: absolute !important;
	right: 0;
	width: 82px !important;
	min-width: 0 !important;
	overflow: hidden;
	background: var(--background-secondary);
	z-index: 1000;
	transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
	height: 100%;
}
 .nowPlayingColumn__133bf:hover {
	width: 490px !important; 
	min-width: 400px !important;
	.headerAvatar__00943{
		margin-left: 0px;
		transition: margin-left 0.2s ease-in-out;
	}
	
} 

/* Changes by width */
@media (max-width: 1200px){
	.peopleColumn__133bf {
		max-width: 92.5% !important;
	}
	@media(max-width:750px){
		.peopleColumn__133bf {
			max-width: 90% !important;
		}
	}
	@media(max-width:680px){
		.peopleColumn__133bf {
			max-width: 100% !important;
		}
		.nowPlayingColumn__133bf{
			display: none;
		}
	}

	.header__7d20c{
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	.headerAvatar__00943{
		margin-left:-9px;
		transition: margin-left 0.2s ease-in-out;
	}
}

/* Extreme small screen size */
@media(max-width:650px){
	.topPill_b3f026{
		flex-wrap: wrap;
	}
	.scrollable__9293f{
		flex-wrap: wrap;
	}
}


/* Collapsing the members list */
.container_c8ffbb {
	position: absolute !important;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 62px !important;
	min-width: 0 !important;
	overflow: hidden;
	background: var(--background-secondary);
	z-index: 1000;
	transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
	
}

.container_c8ffbb:hover  {
	position: absolute !important;
	width: 240px !important; 
	min-width: 240px !important;
}

/* Member category text  */
.container_c8ffbb:not(:hover) .membersGroup_c8ffbb{
	transform: translateX(-13px);
	transition: transform 0.3s ease-in-out ;
}
/* align icons centered */
.container_c8ffbb:not(:hover) .member__5d473{
	margin-left: 0px;
	transition: margin-left 0.3s ease-in-out ;
}

/* Content area */
.messagesWrapper__36d07{
	margin-right: 34px;
}

/* Message input */
.channelBottomBarArea_f75fb0{
	margin-right: 62px;
}

.scroller__36d07{
	scroll-padding: 50px;
}


