/**
 * @name nFloat Updated
 * @description A practical compact layout for Discord
 * @author TheMintGamer
 * @version 1
 * @authorId 
 * @invite 
 * @website https://nate2898.github.io
 * @source https://github.com/Nate2898/nFloat-Discordtheme
 * @updateUrl https://raw.githubusercontent.com/Nate2898/nFloat-Discordtheme/main/nFloat.theme.css
*/

@import url(https://raw.githubusercontent.com/Nate2898/nFloat-Discordtheme/refs/heads/main/nFloatCSS.theme.css);

:root{
    /* Change the values below to customize the theme */
    --sidebar-delay-close: 1.3s; /* Delay before the sidebar closes when not hovered Default: 1.3s */
    --sidebar-closed-width: 64px; /* Width of the sidebar when not hovered Default: 64px */
    --member-list-width-open: -203px; /* Width of the member list when hovered Default: 203px */
    --member-list-width-close: 62px; /* Width of the member list when not hovered Default: 62px */
    --member-list-delay-open: 0s; /* Delay before the member list opens when hovered Default: 0s */
	--member-list-delay-close: 0s; /* Delay before the member list closes when not hovered Default: 0s */
     
    /* Unused Variables: */
    --other-custom-value1: 0px;
    --other-custom-value2: 0px;
    --other-custom-value3: 0px;
    --other-custom-value4: 0px;
}